body{
	background: url('bg.jpg');
    background-size: cover;
	color: #fff;

}
.box  {
    border: 1px solid red;
    width: 100px;
    height: 100 px;
    
}
h1 {
    color: rgb(255, 255, 255);
    direction: rtl;
}
.img {
    opacity: 80%;
    margin-left:auto;
    margin-right:auto;
    display:block;
}
textarea {border:2px solid rgb(0, 0, 0); border-radius: 5px 0 5px 5px; padding: 5px; width: 500px;}

	textarea:focus{
        background: #ffffff; 
        opacity: 20%;
        color: rgb(0, 0, 0); 
        font-weight: bold;}
div {
    direction: rtl;
}